            <div class="my-links">
                <a href="">GitHub</a>
                <a href="">LinkedIn</a>
                <a href="">Facebook</a>
            </div>
        </div>
    </div>
</body>

</html>